NODE_ENV=
APP_PORT=

APPLYIMS_DB_HOST=
APPLYIMS_DB_PORT=
APPLYIMS_DB_USER=
APPLYIMS_DB_PASSWORD=
APPLYIMS_DB_NAME=
APPLYIMS_DB_TYPE=

AGENTCIS_DB_HOST=
AGENTCIS_DB_PORT=
AGENTCIS_DB_USER=
AGENTCIS_DB_PASSWORD=
AGENTCIS_DB_NAME=
AGENTCIS_DB_TYPE=

APPLYIMS_API_URL=

LOG_LEVEL=
LOG_DIR=
