NODE_ENV=
APP_PORT=

ETL_DB_HOST=
ETL_DB_PORT=
ETL_DB_USER=
ETL_DB_PASSWORD=
ETL_DB_NAME=
ETL_DB_TYPE=

AGENTCIS_DB_HOST=
AGENTCIS_DB_PORT=
AGENTCIS_DB_USER=
AGENTCIS_DB_PASSWORD=
AGENTCIS_DB_NAME=
AGENTCIS_DB_TYPE=

APPLYIMS_API_URL=
APPLYIMS_EMAIL=
APPLYIMS_PASSWORD=
APPLYIMS_API_TIMEOUT=30000
RATE_LIMIT_RPS=60

LOG_LEVEL=
LOG_DIR=

AWS_DESTINATION_BUCKET=
AWS_REGION=
AWS_SOURCE_BUCKET=

VISIT_PURPOSE_ID=
